In [62]:
# import and read file
import pandas as pd
fd = flight_data = pd.read_csv("Combined Flights Data/combined_flights_2019.csv")

fd.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,HVN19,NaN,888152,NaN,NaN,YMML,LFPG,2018-12-31 00:43:16+00:00,2019-01-01 04:56:29+00:00,2019-01-01 00:00:00+00:00,-37.659485,144.804421,304.8,48.995316,2.610802,-53.34
1,CCA839,NaN,780ad1,NaN,NaN,YMML,LEBL,2018-12-31 00:53:08+00:00,2019-01-01 06:01:42+00:00,2019-01-01 00:00:00+00:00,-37.692123,144.841997,304.8,41.036124,2.063557,1112.52
2,CES219,NaN,780b7e,B-5936,A332,YSSY,EDDF,2018-12-31 01:05:29+00:00,2019-01-01 04:09:29+00:00,2019-01-01 00:00:00+00:00,-33.930908,151.171987,0.0,50.045563,8.588923,-15.24
3,AEA040,NaN,34444e,EC-LVL,A332,LEMD,LEMD,2018-12-31 01:07:21+00:00,2019-01-01 03:32:59+00:00,2019-01-01 00:00:00+00:00,40.534756,-3.575426,609.6,40.475728,-3.538347,411.48
4,CXA825,NaN,780d75,B-2760,B788,YSSY,LFPG,2018-12-31 01:18:29+00:00,2019-01-01 04:32:28+00:00,2019-01-01 00:00:00+00:00,-33.954254,151.178041,0.0,48.996091,2.625805,22.86

In [63]:
# filtering columns
columns = ['callsign', 'origin', 'destination', 'day']
ffd = filteres_flights_data = flight_data[columns]

ffd.head()

  callsign origin destination                        day
0    HVN19   YMML        LFPG  2019-01-01 00:00:00+00:00
1   CCA839   YMML        LEBL  2019-01-01 00:00:00+00:00
2   CES219   YSSY        EDDF  2019-01-01 00:00:00+00:00
3   AEA040   LEMD        LEMD  2019-01-01 00:00:00+00:00
4   CXA825   YSSY        LFPG  2019-01-01 00:00:00+00:00

In [64]:
# select rows that contains netherlands airport
od = origin_or_destination = ffd.loc[((ffd['origin'] == 'EHAM') | 
                                      (ffd['origin'] == 'EHEH') | 
                                      (ffd['origin'] == 'EHGG') | 
                                      (ffd['origin'] == 'EHBK') | 
                                      (ffd['origin'] == 'EHRD')) | 
                                     ((ffd['destination'] == 'EHAM') | 
                                      (ffd['destination'] == 'EHEH') | 
                                      (ffd['destination'] == 'EHGG') | 
                                      (ffd['destination'] == 'EHBK') | 
                                      (ffd['destination'] == 'EHRD'))]

od

         callsign origin destination                        day
29        CLX7151   FAOR        EHAM  2019-01-01 00:00:00+00:00
37        CAO1023   KLAX        EHAM  2019-01-01 00:00:00+00:00
58         DAL248   EHAM        LFPG  2019-01-01 00:00:00+00:00
116        SVA941   FABA        EHAM  2019-01-01 00:00:00+00:00
127        CSN345    NaN        EHAM  2019-01-01 00:00:00+00:00
...           ...    ...         ...                        ...
28281498   KLM39N   EHAM        EKBI  2019-11-30 00:00:00+00:00
28281530   UAE150   EHAM        EHAM  2019-11-30 00:00:00+00:00
28281748  RYR91QY   EHAM        EIDW  2019-11-30 00:00:00+00:00
28282029  KLM1057   EHAM        EGGD  2019-11-30 00:00:00+00:00
28282495   KLM965   EHAM        EGNT  2019-11-30 00:00:00+00:00

[422378 rows x 4 columns]

In [65]:
# remove missing values
clean_od = od.dropna()

clean_od

         callsign origin destination                        day
29        CLX7151   FAOR        EHAM  2019-01-01 00:00:00+00:00
37        CAO1023   KLAX        EHAM  2019-01-01 00:00:00+00:00
58         DAL248   EHAM        LFPG  2019-01-01 00:00:00+00:00
116        SVA941   FABA        EHAM  2019-01-01 00:00:00+00:00
143        KLM685   EHAM        MMMX  2019-01-01 00:00:00+00:00
...           ...    ...         ...                        ...
28281498   KLM39N   EHAM        EKBI  2019-11-30 00:00:00+00:00
28281530   UAE150   EHAM        EHAM  2019-11-30 00:00:00+00:00
28281748  RYR91QY   EHAM        EIDW  2019-11-30 00:00:00+00:00
28282029  KLM1057   EHAM        EGGD  2019-11-30 00:00:00+00:00
28282495   KLM965   EHAM        EGNT  2019-11-30 00:00:00+00:00

[321022 rows x 4 columns]

In [66]:
# taking airline code only
clean_od['airline'] = clean_od['callsign'].str[:3]

# reset column composition
columns = ['origin', 'destination', 'day', 'airline']
tcnf = total_clean_NL_flight = clean_od[columns]

tcnf

/tmp/ipykernel_1634/2018105963.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_od['airline'] = clean_od['callsign'].str[:3]

         origin destination                        day airline
29         FAOR        EHAM  2019-01-01 00:00:00+00:00     CLX
37         KLAX        EHAM  2019-01-01 00:00:00+00:00     CAO
58         EHAM        LFPG  2019-01-01 00:00:00+00:00     DAL
116        FABA        EHAM  2019-01-01 00:00:00+00:00     SVA
143        EHAM        MMMX  2019-01-01 00:00:00+00:00     KLM
...         ...         ...                        ...     ...
28281498   EHAM        EKBI  2019-11-30 00:00:00+00:00     KLM
28281530   EHAM        EHAM  2019-11-30 00:00:00+00:00     UAE
28281748   EHAM        EIDW  2019-11-30 00:00:00+00:00     RYR
28282029   EHAM        EGGD  2019-11-30 00:00:00+00:00     KLM
28282495   EHAM        EGNT  2019-11-30 00:00:00+00:00     KLM

[321022 rows x 4 columns]

In [67]:
# export to csv
tcnf.to_csv("all_NL_flights_2019_airlines.csv",
                    index = False,
                    encoding = 'utf-8-sig')